.header-menu {
  width: 100%;
  height: 40PX;
  background: red;
  display: flex;
  padding: 0 10PX;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-size: 20PX;
}
.header-menu .iconfont {
  font-size: 24PX;
}
