.content {
    padding   : 10PX;
    word-break: break-all;

    .rich-img {
        width : 100%;
        height: auto;
    }
}

.header {
    background   : #f6f6f6;
    font-size    : 14PX;
    padding      : 10PX;
    border-bottom: 1PX solid #f0f0f0;
}

.reply-list {
    padding-bottom: 46PX;
}

.reply-btn {
    position: fixed;
    width   : 100%;
    left    : 0;
    right   : 0;
    bottom  : 0;
    z-index : 2;
}